:root {
    --bg-in-progress: rgb(255, 0, 0, 1);
    --fg-in-progress: #FFF;
    --bg-color: #FFF;
    --bg-color-focus: #CCC;
    --bg-color-focus-2: rgb(0; 0, 0, 0.4);
    --fg-color: #000;
    --unfocus-text-color: #A0A0A0;
}

.inverted {
    color: var(--bg-color);
    background-color: var(--fg-color);
}

.unfocused-text-color {
    color: var(--unfocus-text-color);
}

.bg-color-focus {
    background-color: var(--bg-color-focus);
}

.danger {
    background-color: red;
    color: white;
}

.modal-shadow {
    /* box-shadow: 0px 0px 2px 2000px rgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.solid-border {
    outline: 2px solid var(--fg-color);
    border-radius: 6px;
}

.sb1l {
    border-left: 1px solid var(--fg-color);
}

.sb1r {
    border-right: 1px solid var(--fg-color);
}

.sb1t {
    border-top: 1px solid var(--fg-color);
}

.sb1b {
    border-bottom: 1px solid var(--fg-color);
}

.solid-border-sm {
    border: 1px solid var(--fg-color);
}

.solid-border-sm-rounded {
    border: 1px solid var(--fg-color);
    border-radius: 3px;
}


/** error handling and debugging */

.catastrophic---error>* {
    display: none;
}

.catastrophic---error::before {
    content: "An error occured when updating this content. You've found a bug!";
}

.debug {
    border: 1px solid red;
}
