/** Styles that target particular components or object types */

html {
    margin: 0px;
}

body {
    font-family: monospace;
    position: relative;
}

input {
    all: unset;

    font-family: monospace;
    white-space: pre-wrap;
}


body {
  /* Foreground, Background */
  scrollbar-color: var(--bg-color-focus) var(--bg-color);
}

body::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--bg-color-focus);
}

body::-webkit-scrollbar-track { /* Background */
  background: var(--bg-color);
}


input:focus {
    background-color: var(--bg-color-focus);
}

.tab-button.focused {
    background-color: var(--bg-color-focus);
}

div.focused{
    background-color: var(--bg-color-focus);
}

body {
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--fg-color);
}


textarea {
    all: unset;

    font-family: monospace;
    white-space: pre-wrap;
    padding: 5px;
}

textarea:focus {
    background-color: var(--bg-color-focus);
}

.scratch-pad {
    border: 1px var(--fg-color) solid;
    padding: 0;
    width: 100%;
    height: 400px;
}

button {
    all: unset;

    background-color: var(--bg-color);
    user-select: none;
    cursor: pointer;
}


button:hover {
    background-color: var(--bg-color-focus);
}

.hover:hover {
    background-color: var(--bg-color-focus);
    cursor: pointer;
}

button:active {
    background-color: var(--bg-color-focus-2);
}

.info-button {
    display: inline-block;
    /* width: 30px; */

    text-align: center;
    font-style: italic;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.info-button:hover {
    background-color: #AAF;
}


.info-button:active {
    background-color: #00F;
    color: var(--bg-color);
}


.tab {
    cursor: pointer;
    padding: 2px 20px;
    outline:2px solid var(--fg-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.checkbox.checked {
    background-color: var(--fg-color);
}

.checkbox:hover {
    outline: 1px solid var(--fg-color);
    border-radius: 3px;
}


